body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  background-color: rgb(170, 212, 240);
  height: 10vh;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
  flex: 70%;
}
img{
  width: 250px;
  height: 160px;
}
.item-numbers{
  display: inline-block;
  margin: 10px;
}
.btns{
  padding:5px 17px;
  border: none;
  border-radius: 20px;
  background-color: blue;
  color: white;
}
ul{
  display: flex;
}
li{
  list-style-type: none;
  margin: 10px;
}
a{
  text-decoration: none;
  color: rgb(253, 0, 0);
}
.products{
  display: flex;
}
.header-picture{
  background-image: url('../public/img/header-picture.jpg');
  /* width: 500px; */
  height: 100vh;
  margin-bottom: 10vh;
}
.main{
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Lato;
}
